<% provide(:title, "Dashboard") %>
<div id="filters-header" class="row button-header"></div>
<div id="invite-container" class="row"></div>
<div class="body-container">
  <div class="assignment-row row">
    <h1>Assignments</h1>
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 isotope-container" data-equalizer-watch>
        <% @assignments.each do |assignment| %>
          <li class="assignment-li classroom<%= assignment.classroom_id %> <% if !assignment.complete %>in<% end %>complete">
            <%= link_to tyto_assignment_path(assignment.id) do %>
              <div class="assignment-container <%= @colors[assignment.classroom_id] %> <% if assignment.complete %>complete-grey<% end %>" data-equalizer-watch>
                <h3 class="course-name"><%= assignment.course_name %></h3>
                <hr />
                <p class="assignment-name"><%= assignment.name %></p>
                <p class="questions-complete">
                  <% if assignment.complete %>
                    Complete
                  <% else %>
                    <%= assignment.questions_answered %>/<%= assignment.assignment_size %>
                  <% end %>
                </p>
                <p class="deadline" style="display:none"><%= assignment.deadline %></p>
                <p class="due-date"><%= assignment.deadline.strftime("Due %b %d at %I:%M%p") %></p>
                <div class="progress small-12 success round">
                  <span class="meter" style="width: <%= [assignment.proficiency, 1].min * 100 %>%"></span>
                </div>
              </div>
            <% end %>
          </li>
        <% end if @assignments %>
      </ul>
    </div>
  </div>
</div>

<button class="button tiny radius chatFixed chatClick hide-for-small-down">Chat</button>
<div class="row hide-for-medium-up fixed-bottom-row">
  <div class="small-12 columns">
    <button class="button tiny radius expand chatClick">Chat</button>
  </div>
</div>
<div class="chatBox" style="display: none;">
  <div id="chatBox"></div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">

(function () {
  React.renderComponent(window.InviteList( {url:"/invites"} ), document.getElementById('invite-container'));

  React.renderComponent(window.ClassroomList( {url:url="/classrooms"} ), document.getElementById('filters-header'));

<% if @classrooms %>
  var studentClassrooms = [];
  <% @classrooms.each do |classroom| %>
    studentClassrooms.push(<%=classroom.id%>);
  <% end %>

  window.ChattingBox = React.renderComponent(window.ChatBox({username: "<%=@student.username%>", id: <%=@student.id%>, classroomIds: studentClassrooms}), document.getElementById('chatBox'));
<% end %>

  var $container = $('.isotope-container');

  $container.isotope({
    itemSelector: '.assignment-li',
    layoutMode: 'fitRows',
    getSortData: {
      deadline: '.deadline'
    },
    sortBy: 'deadline',
    filter: '.incomplete'
  });

  $('#filters, #classroom-container').on('click', 'a', function() {
    var filterValue = $(this).attr('data-filter');
    $container.isotope({ filter: filterValue });
    $('#filters dd').removeClass('active');
    $(this).closest('dd').addClass('active');
  });
})();

</script>
<% end %>
