<% provide(:title, "Create Teacher Account") %>
<div class="body-container">
  <div class="row">
    <div class="small-12 medium-7 large-5 small-centered columns form-container">
      <%= form_tag('/teachers', method: 'post') do %>
        <%= label_tag(:username, "Username:") %>
        <%= text_field_tag(:username, '', :autofocus => true) %>

        <%= label_tag(:email, "Email address:") %>
        <%= text_field_tag(:email) %>

        <%= label_tag(:phone_number, "Mobile phone number:") %>
        <%= phone_field_tag(:phone_number) %>

        <%= label_tag(:password, "Password:") %>
        <%= password_field_tag(:password) %>

        <%= label_tag(:password_confirmation, "Confirmation:") %>
        <%= password_field_tag(:password_confirmation) %>

        <%= submit_tag "Create my account", class: "button expand" %>
      <% end %>
      <%= form_tag('/sessions', method: 'post') do %>
          <%= hidden_field_tag(:email, 'demo@teacher.com') %>
          <%= hidden_field_tag(:password, 'password1') %>
          <%= hidden_field_tag(:teacher, 1) %>
          <%= submit_tag "Teacher Demo", class: "button radius success expand" %>
      <% end %>
    </div>
  </div>
</div>
