<% provide(:title, "Dashboard") %>
<div class="teacher-row row">
  <div class="small-12 medium-8 columns" id="tabs">
    <dl class="sub-nav" data-tab>
      <% if @classrooms != nil %>
        <%@classrooms.each do |classroom| %>
          <dd><a href="#panel<%=classroom.id%>"><%=classroom.name%></a></dd>
        <%end%>
      <%end%>
      <dd class="active"><a href="#panelcreate"><i class="fa fa-plus"></i></a></dd>
    </dl>

    <div class="tabs-content table">
      <% if @classrooms != nil %>
      <%@classrooms.each do |classroom| %>
        <div class="content" id="panel<%=classroom.id%>">
          <h5> <%=@classroom_course[classroom.course_id].name%></h5>
          <table class="classroomTable">
            <thead>
              <tr>
                <th width="150">Student</th>
                <th width="50">Text?</th>
                <%if @assignments[classroom.id] != nil %>
                  <%@assignments[classroom.id].each do |assignment| %>
                    <th data-tooltip class="has-tip" title="<%=assignment.name%><br>
                      <% if @difficult_questions[assignment.id] != [] %>
                        <br>Difficult Questions:<br><br>
                        <% @difficult_questions[assignment.id].each do |question| %>
                          <%= question[1] %> student<% if question[1] != 1 %>s<% end %>: <%= question[0] %><br>
                        <% end %>
                      <% end %>">
                      <%=assignment.subname%><br><%=assignment.deadline.strftime("%-m/%e")%></th>
                  <%end%>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <% if @students[classroom.id] != nil %>
              <%@students[classroom.id].each do |student| %>
              <tr>
                <td><%=student.username%></td>
                  <td class="textCheckbox"><input class="checkbox1" type="checkbox" data-student=<%=student.id%> data-classroom=<%=classroom.id%><% if student.text %> checked<% end %>></td>
                <% if @studenthomework[classroom.id][student.id] != nil %>
                <%@studenthomework[classroom.id][student.id].each do |assignment| %>
                  <% if assignment.questions_answered == 0 %>
                    <% @prof_value = '-' %>
                  <% else %>
                    <% @prof_value = (assignment.proficiency * 100).round %>
                  <% end %>
                  <%if Time.now < assignment.deadline  %>
                    <td class="notLateAssignment prof-score"><%= @prof_value %></td>
                  <%elsif Time.now > assignment.deadline && assignment.complete == false  %>
                    <td class="lateAssignment prof-score"><%= @prof_value %></td>
                  <%elsif assignment.complete == true && assignment.question_level <= 2 %>
                   <td class="poorPerformance prof-score"><%= @prof_value %></td>
                  <%elsif assignment.complete == true && assignment.question_level <= 3 %>
                   <td class="goodPerformance prof-score"><%= @prof_value %></td>
                  <%elsif assignment.complete == true && assignment.question_level > 3 %>
                   <td class="excellentPerformance prof-score"><%= @prof_value %></td>
                  <% else %>
                   <td><%= @prof_value %></td>
                  <% end %>
                <%end%>
                <%end%>
              </tr>
              <%end%>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>
      <%end%>
        <div class="content active" id="panelcreate">
          <form class="createClassroom">
            <h5>Add a class:</h5>
          <div class="row">
            <div class="medium-3 columns">
              <input type="text" placeholder="Class Name" id="classroomName">
              <input type="text" id="teacherId" value="<%=@teacher.id%>">
            </div>
            <div class="medium-3 columns">
                <select id="courseName">
                  <%@courses.each do |course| %>
                    <option value="<%=course.name%>"><%=course.name.capitalize%></option>
                  <%end%>
                </select>
            </div>
            <div class="medium-2 columns">
              <input type="submit" class="button postfix radius" value="Create" >
            </div>
            <div class="medium-3 columns"></div>
          </div>
          </form>
        </div>
    </div>
  </div>

  <div class="small-12 large-4 columns sidebar">
    <div class="row">
      <div class="small-12 medium-6 large-12 columns" id="assign">
    </div>
    <div class="small-12 medium-6 large-12 columns" id="search">
    </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    (function () {
      window.classroomsAll = []
      <%@classrooms.each do |classroom| %>
        classroomsAll.push("<%=classroom.name%>")
      <% end %>
      window.studentsAll = [];
      <% counter = 0 %>
      <% if @classrooms != nil %>
        <% @classrooms.each do |classroom| %>
          <% if @students[classroom.id] != nil %>
            <% @students[classroom.id].each do |student| %>
              window.studentsAll.push({classroom: "<%=classroom.name%>", email: "<%=student.email%>", struggling: <%=student.struggling%>, name: "<%=student.username%>", id: <%=counter%>  })
              <% counter += 1 %>
            <% end %>
          <% end %>
        <% end %>
      <% end%>
       React.renderComponent(AssignHomework( {classrooms:window.classroomsAll} ), document.getElementById('assign'));
       React.renderComponent(FilterableStudentTable( {students:window.studentsAll} ), document.getElementById('search'));
    })();
  </script>
<% end %>
