<div id='content'></div>
<div class="container">
  <div class="row">
    Assignment info can go here
    <%= @assignment.name %>
    <%= @assignment.assignment_size %>
    <%= @assignment.complete %>
  </div>

<div class="container">
  <div id="question">
  </div>

  <div id="chart">
  </div>

  <div id="progress">
  </div>

  <div id="streaks">
  </div>
</div>

<script type="text/javascript">
var assignment = new Assignment(<%= @assignment.to_json %>);
// var assignment = <%= @assignment.to_json %>;
var view = React.renderComponent(
  <QuestionForm />,
  document.getElementById('dash-ui')
);
var presenter = new AssignmentPresenter({
  model: assignment,
  view: view
});
</script>
