<div class="row button-header">
  <ul id="filters" class="button-group">
    <li><a data-filter="*" href="#" class="filter button small">Show all</a></li>
    <li><a data-filter=".complete" href="#" class="filter button small">Complete</a></li>
    <li><a data-filter=".incomplete" href="#" class="filter button small">Incomplete</a></li>
  </ul>
</div>
<div class="body-container">
  <div class="row" data-equalizer>
    <div class="small-12 medium-9 large-10 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 isotope-container">
        <% @assignments.each do |assignment| %>
          <li class="assignment-li classroom<%= assignment.classroom_id %> <% if !assignment.complete %>in<% end %>complete" data-equalizer-watch>
            <%= link_to tyto_assignment_path(assignment.id) do %>
              <div class="assignment-container <%= @colors[assignment.classroom_id] %> <% if assignment.complete %>complete-grey<% end %>">
                <p class="course-name"><%= assignment.course_name %></p>
                <p class="assignment-name"><%= assignment.name %></p>
                <p class="questions-complete"><%= assignment.questions_answered %>/<%= assignment.assignment_size %></p>
                <p class="deadline"><%= assignment.deadline %></p>
                <div class="progress small-12 success round">
                  <span class="meter" style="width: <%= [assignment.proficiency, 1].min * 100 %>%"></span>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="small-12 medium-3 large-2 columns">
      <div id="classroom-container"></div>
      <div id="invite-container"></div>
    </div>
  </div>
</div>
