<%= @student.username %>
<div class="row assignments">
  <% @assignments.each do |assignment| %>
      <%= link_to tyto_assignment_path(assignment.id) do %>
    <div class = "large-3 medium-4 small-12 columns assignment">
      <div class="assignment-container <% if assignment.complete %>complete<% end %>">
        <p class="course-name"><%= assignment.course_name %></p>
        <p class="assignment-name"><%= assignment.name %></p>
        <p class="questions-complete"><%= assignment.questions_answered %>/<%= assignment.assignment_size %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
