<% provide(:title, @assignment.name) %>
<div class="row assignment-header">
  <div class="small-12 medium-6 columns">
    <p class="small-only-text-center"><%= @assignment.name %>: <%= @assignment.assignment_size %> Problems</p>
  </div>
  <div class="small-12 medium-6 columns">
    <div id="progress"></div>
  </div>
</div>
<div class="body-container">
  <div class="row assignment-row">
    <div class="small-12 large-8 columns">
      <div id="question">
      </div>
    </div>
    <div class="small-12 large-4 columns">
      <div class="row">
        <div class="small-12 columns">
          <div id="previousQuestion"></div>
        </div>
        <div class="small-12 medium-6 large-12 columns">
          <div id="difficult"></div>
        </div>
        <div class="small-12 medium-6 large-12 columns">
          <div id="streaks"></div>
        </div>
      </div>
    </div>
      <% if @assignment.video_url %>
        <a href='#' class="video-link" data-options="align:top" data-dropdown="video-drop">Having trouble? Watch the video!</a>
        <div id="video-drop" data-dropdown-content class="f-dropdown content">
          <div class="flex-video">
            <a href="<%= @assignment.video_url %>">Video</a>
          </div>
        </div>
      <% end %>
  </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
(function () {
  window.assignment = new Assignment(<%= @assignment.to_json.html_safe %>);
  var questionForm = React.renderComponent(
    QuestionForm(),
    document.getElementById('question')
  );
  var difficult = React.renderComponent(
    Difficult(),
    document.getElementById('difficult')
  );
  var progress = React.renderComponent(
    Progress(),
    document.getElementById('progress')
  );
  var streaks = React.renderComponent(
    Streaks(),
    document.getElementById('streaks')
  );
  var previousQuestion = React.renderComponent(
    PreviousQuestion(),
    document.getElementById('previousQuestion')
  );
  var presenter = new AssignmentPresenter({
    model: assignment,
    questionForm: questionForm,
    difficult: difficult,
    progress: progress,
    streaks: streaks,
    previousQuestion: previousQuestion,
  });
  window.ChattingBox = React.renderComponent(window.ChatBox({username: "<%=@student.username%>", classroomIds: [<%=@classroom.id%>]}), document.getElementById('chatBox'));
})();
$('.flex-video').embedly({key: "00a1ac6023a14ed98a7d7878a712ad4d"});
</script>
<% end %>
