<div class="teacher-row row">
  <div class="small-12 medium-8 columns" id="tabs">
    <dl class="sub-nav" data-tab>
      <% if @classrooms != nil %>
        <%@classrooms.each do |classroom| %>
          <dd><a href="#panel<%=classroom.id%>"><%=classroom.name%></a></dd>
        <%end%>
      <%end%>
      <dd class="active"><a href="#panelcreate"><i class="fa fa-plus"></i></a></dd>
    </dl>

    <div class="tabs-content table">
      <% if @classrooms != nil %>
      <%@classrooms.each do |classroom| %>
        <div class="content" id="panel<%=classroom.id%>">
          <h5> <%=@classroom_course[classroom.course_id].name%></h5>
          <table class="classroomTable">
            <thead>
              <tr>
                <th width="150">Student</th>
                <th width="50">Text?</th>
                <%if @assignments[classroom.id] != nil %>
                  <%@assignments[classroom.id].each do |assignment| %>
                    <th data-tooltip class="has-tip" title="<%=assignment.name%>"><%=assignment.subname%><br><%=assignment.deadline.strftime("%-m/%e")%></th>
                  <%end%>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <% if @students[classroom.id] != nil %>
              <%@students[classroom.id].each do |student| %>
              <tr>
                <td><%=student.username%></td>
                <td class="textCheckbox"><input class="checkbox1" type="checkbox" data-id=<%=student.id%>></td>
                <% if @studenthomework[classroom.id][student.id] != nil %>
                <%@studenthomework[classroom.id][student.id].each do |assignment| %>
                  <%if Time.now < assignment.deadline  %>
                    <td class="notLateAssignment prof-score"><%= (assignment.proficiency * 100).round %></td>
                  <%elsif Time.now > assignment.deadline && assignment.complete == false  %>
                    <td class="lateAssignment prof-score"><%= (assignment.proficiency * 100).round %></td>
                  <%elsif assignment.complete == true && assignment.question_level <= 2 %>
                   <td class="poorPerformance prof-score"><%= (assignment.proficiency * 100).round %></td>
                  <%elsif assignment.complete == true && assignment.question_level > 2 %>
                   <td class="goodPerformance prof-score"><%= (assignment.proficiency * 100).round %></td>
                  <% else %>
                   <td><%= (assignment.proficiency * 100).round %></td>
                  <% end %>
                <%end%>
                <%end%>
              </tr>
              <%end%>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>
      <%end%>
        <div class="content active" id="panelcreate">
          <form class="createClassroom">
          <div class="row">
            <div class="medium-3 columns">
              <input type="text" placeholder="Class Name" id="classroomName">
              <input type="text" id="teacherId" value="<%=@teacher.id%>">
            </div>
            <div class="medium-3 columns">
                <select id="courseName">
                  <%@courses.each do |course| %>
                    <option value="<%=course.name%>"><%=course.name.capitalize%></option>
                  <%end%>
                </select>
            </div>
            <div class="medium-2 columns">
              <input type="submit" class="button postfix" value="Create" >
            </div>
            <div class="medium-3 columns"></div>
          </div>
          </form>
        </div>
    </div>
  </div>

  <div class="small-12 large-4 columns sidebar">
      <div class="row">
      <div class="small-12 medium-6 large-12 columns" id="assign">
      </div>
      <div class="small-12 medium-6 large-12 columns" id="search">
      </div>
    </div>
  </div>
</div>

<script>
window.classroomsAll = []
<%@classrooms.each do |classroom| %>
  classroomsAll.push("<%=classroom.name%>")
<% end %>
window.studentsAll = [];
<% counter = 0 %>
<% if @classrooms != nil %>
<% @classrooms.each do |classroom| %>
  <% if @students[classroom.id] != nil %>
  <% @students[classroom.id].each do |student| %>
    window.studentsAll.push({classroom: "<%=classroom.name%>", email: "<%=student.email%>", struggling: <%=student.struggling%>, name: "<%=student.username%>", id: <%=counter%>  })
    <% counter += 1 %>
  <% end %>
  <% end %>
  <% end %>
<% end%>
</script>

