<div class="row">
  <div class="small-12 large-9 columns" id="tabs">
    <dl class="tabs" data-tab>
      <% if @classrooms != nil %>
        <%@classrooms.each do |classroom| %>
          <dd><a href="#panel<%=classroom.id%>"><%=classroom.name%></a></dd>
        <%end%>
      <%end%>
      <dd class="active"><a href="#panelcreate">Add/Edit Class</a></dd>
    </dl>

    <div class="tabs-content table">
      <% if @classrooms != nil %>
      <%@classrooms.each do |classroom| %>
        <div class="content" id="panel<%=classroom.id%>">
          <table class="classroomTable">
            <thead>
              <tr>
                <th width="150">Student</th>
                <th width="50">Text?</th>
                <%if @assignments[classroom.id] != nil %>
                  <%@assignments[classroom.id].each do |assignment| %>
                    <th><%=assignment.name%></th>
                  <%end%>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <% if @students[classroom.id] != nil %>
              <%@students[classroom.id].each do |student| %>
              <tr>
                <td><%=student.username%></td>
                <td class="textCheckbox"><input id="checkbox1" type="checkbox"></td>
                <% if @studenthomework[classroom.id][student.id] != nil %>
                <%@studenthomework[classroom.id][student.id].each do |assignment| %>
                  <%if Time.now < assignment.deadline  %>
                    <td class="notLateAssignment"><%=assignment.proficiency.round(3)*100%></td>
                  <%elsif Time.now > assignment.deadline && assignment.complete == false  %>
                    <td class="lateAssignment"><%=assignment.proficiency.round(3)*100%></td>
                  <%elsif assignment.complete == true && assignment.question_level <= 2 %>
                   <td class="poorPerformance"><%=assignment.proficiency.round(3)*100%></td>
                  <%elsif assignment.complete == true && assignment.question_level > 2 %>
                   <td class="goodPerformance"><%=assignment.proficiency.round(3)*100%></td>
                  <% else %>
                   <td><%=q.proficiency.round(3)*100%>%</td>
                  <% end %>
                <%end%>
                <%end%>
              </tr>
              <%end%>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>
      <%end%>
        <div class="content active" id="panelcreate">
          <form class="createClassroom">
          <div class="row">
            <div class="large-4 columns">
              <input type="text" placeholder="Class Name" id="classroomName">
              <input type="text" id="teacherId" value="<%=@teacher.id%>">
            </div>
            <div class="large-2 columns">
                <select id="courseName">
                  <%@courses.each do |course| %>
                    <option value="<%=course.name%>"><%=course.name.capitalize%></option>
                  <%end%>
                </select>
            </div>
            <div class="large-2 columns">
              <input type="submit" class="button postfix" value="Create" >
            </div>
            <div class="large-4 columns"></div>
          </div>
          </form>
        </div>
    </div>
  </div>

  <div class="small-12 large-3 columns sidebar">
    <div class="row" id="assign">
    </div>
    <br>
    <div class="row" id="search">
    </div>
  </div>
</div>

<script>
window.classroomsAll = []
<%@classrooms.each do |classroom| %>
  classroomsAll.push("<%=classroom.name%>")
<% end %>
window.studentsAll = [];
<% counter = 0 %>
<% if @classrooms != nil %>
<% @classrooms.each do |classroom| %>
  <% if @students[classroom.id] != nil %>
  <% @students[classroom.id].each do |student| %>
    window.studentsAll.push({classroom: "<%=classroom.name%>", email: "<%=student.email%>", struggling: false, name: "<%=student.username%>", id: <%=counter%>, late: true  })
    <% counter += 1 %>
  <% end %>
  <% end %>
  <% end %>
<% end%>

</script>

