<div class="row">
  <div class="small-12 large-9 columns" id="tabs">
    <dl class="tabs" data-tab>
      <%@classrooms.each do |classroom| %>
         <dd><a href="#panel<%=classroom.id%>"><%=classroom.name%></a></dd>
      <%end%>
      <dd class="active"><a href="#panelcreate">Add Class</a></dd>
    </dl>

    <div class="tabs-content table">
      <%@classrooms.each do |classroom| %>
        <div class="content" id="panel<%=classroom.id%>">
          <table class="classroomTable">
            <thead>
              <tr>
                <th width="200">Student</th>
                <th width="200">Text?</th>
                <%if @assignments[classroom.id] != nil %>
                  <%@assignments[classroom.id].each do |assignment| %>
                    <th><%=assignment.name%></th>
                  <%end%>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <%@students[classroom.id].each do |student| %>
              <tr>
                <td><%=student.username%></td>
                <td>checkbox</td>
                <%@studenthomework[classroom.id][student.id].each do |assignment| %>
                  <%if Time.now < assignment.deadline  %>
                    <td class="notLateAssignment"><%=assignment.proficiency.round(3)*100%>%</td>
                  <%elsif Time.now > assignment.deadline && assignment.complete == false  %>
                    <td class="lateAssignment"><%=assignment.proficiency.round(3)*100%>%</td>
                  <%elsif assignment.complete == true && assignment.question_level <= 2 %>
                   <td class="poorPerformance"><%=assignment.proficiency.round(3)*100%>%</td>
                  <%elsif assignment.complete == true && assignment.question_level > 2 %>
                   <td class="goodPerformance"><%=assignment.proficiency.round(3)*100%>%</td>
                  <% else %>
                   <td><%=q.proficiency.round(3)*100%>%</td>
                  <% end %>
                <%end%>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>
        <div class="content active" id="panelcreate">
          <form class="createClassroom">
          <div class="row">
            <div class="large-6 columns">
              <input type="text" placeholder="Class Name">
            </div>
            <div class="large-2 columns">
              <input type="submit" class="button postfix" placeholder="Create" >
            </div>
            <div class="large-4 columns"></div>
          </div>
          </form>
          <form id="createClassroom">
        </div>
    </div>
  </div>

  <div class="small-12 large-3 columns sidebar">
    <div class="row" id="assign">
      assign
    </div>
    <div class="row" id="search">
      search
    </div>
  </div>
</div>

<script>
window.studentsAll = [];
<% counter = 0 %>
<% @classrooms.each do |classroom| %>
  <% @students[classroom.id].each do |student| %>
    window.studentsAll.push({classroom: "<%=classroom.name%>", email: "<%=student.email%>", struggling: true, name: "<%=student.username%>", id: <%=counter%>, late: true  })
    <% counter += 1 %>
  <% end %>
<% end%>
</script>

