<div class="row">
  <div class="small-12 large-9 columns" id="tabs">
    <dl class="tabs" data-tab>
      <%@classrooms.each do |a| %>
         <dd><a href="#panel<%=a.id%>"><%=a.name%></a></dd>
      <%end%>
      <dd class="active"><a href="#panelcreate">Add Class</a></dd>
    </dl>

    <div class="tabs-content table">
      <%@classrooms.each do |a| %>
        <div class="content" id="panel<%=a.id%>">
          <table class="classroomTable">
            <thead>
              <tr>
                <th width="200">Student</th>
                <th width="200">Text?</th>
                <%if @assignments[a.id] != nil %>
                  <%@assignments[a.id].each do |b| %>
                    <th><%=b.name%></th>
                  <%end%>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <%@students[a.id].each do |c| %>
              <tr>
                <td><%=c.username%></td>
                <td>checkbox</td>
                <%@studenthomework[a.id][c.id].each do |q| %>
                  <td><%=q.proficiency%></td>
                <%end%>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>
        <div class="content active" id="panelcreate">
          <p>Create classroom</p>
        </div>
    </div>
  </div>

  <div class="small-12 large-3 columns sidebar">
    <div class="row" id="assign">
      assign
    </div>
    <div class="row" id="search">
      search
    </div>
  </div>
</div>

<script>

</script>

