<div class="row">
  <div class="small-12 large-9 columns" id="tabs">
    <dl class="tabs" data-tab>
      <%@classrooms.each do |a| %>
         <dd><a href="#panel<%=a.id%>"><%=a.name%></a></dd>
      <%end%>
      <dd class="active"><a href="#panelcreate">Add Class</a></dd>
    </dl>

    <div class="tabs-content">
      <%@classrooms.each do |a| %>
        <div class="content" id="panel<%=a.id%>">
          <table>
            <thead>
              <tr>
                <th width="200">Student</th>
                <%if @assignments[a.id] != nil %>
                  <%@assignments[a.id].each do |b| %>
                    <th><%=b.name%></th>
                  <%end%>
                <%end%>
              </tr>
            </thead>
            <tbody>
              <%@students[a.id].each do |c| %>
              <tr>
                <td><%=c.username%></td>
                <%@studenthomework[a.id][c.id].each do |q| %>
                  <td><%=q.proficiency%></td>
                <%end%>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      <%end%>
        <div class="content active" id="panelcreate">
          <p>Create classroom</p>
        </div>
    </div>
  </div>

  <div class="small-12 large-3 columns">
    <div class="row" id="assign">
      assign
    </div>
    <div class="row" id="struggling">
      struggling
    </div>
    <div class="row" id="search">
      search
    </div>
  </div>
</div>

























<!--


<%= form_tag('/assignments/create', method: 'post') do %>
  <%= label_tag(:classroom_id, "Classroom Id:") %>
  <%= text_field_tag(:classroom_id) %>

  <%= label_tag(:chapter_id, "Chapter Id:") %>
  <%= text_field_tag(:chapter_id) %>

  <%= label_tag(:assignment_size, "Assignment Size:") %>
  <%= text_field_tag(:assignment_size) %>

  <%= submit_tag "Create", class: "btn btn-large btn-primary" %>
<% end %>

<%= form_tag('/classrooms/create', method: 'post') do %>

  <%= label_tag(:name, "Classroom Name:") %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:course_id, "Course Id:") %>
  <%= text_field_tag(:course_id) %>

  <%= submit_tag "Create", class: "btn btn-large btn-primary" %>
<% end %>

<%= form_tag('/classrooms/update', method: 'post') do %>

  <%= label_tag(:student_one, "Student Email:") %>
  <%= text_field_tag(:student_one) %>
  <%= label_tag(:student_two, "Student Email:") %>
  <%= text_field_tag(:student_two) %>
  <%= label_tag(:classroom_id, "Classroom Id:") %>
  <%= text_field_tag(:classroom_id) %>

  <%= submit_tag "Create", class: "btn btn-large btn-primary" %>
<% end %>


 -->
