<% provide(:title, "Sign In") %>
<div class="body-container">
  <%= form_tag('/sessions', method: 'post') do %>
    <div class="row">
      <div class="large-5 medium-7 small-centered columns form-container">

        <%= label_tag(:email, "Email address:") %>
        <%= text_field_tag(:email) %>
        <%= label_tag(:password, "Password:") %>
        <%= password_field_tag(:password) %>
        <div class="row">
          <div class="small-6 columns">
            <%= label_tag(:teacher, "Teacher sign in:") %>
            <%= check_box_tag(:teacher) %>
          </div>
          <div class="small-6 columns">
            <%= submit_tag "Sign in", class: "button" %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>
