<% provide(:title, "Sign In") %>
<div class="body-container">
    <div class="row">
      <div class="large-5 medium-7 small-centered columns form-container">
        <%= form_tag('/sessions', method: 'post') do %>
        <%= label_tag(:email, "Email address:") %>
        <%= text_field_tag(:email, '', :autofocus => true) %>
        <%= label_tag(:password, "Password:") %>
        <%= password_field_tag(:password) %>
        <div class="row">
          <div class="small-6 columns">
            <%= label_tag(:teacher, "Teacher sign in:") %>
            <%= check_box_tag(:teacher) %>
          </div>
          <div class="small-6 columns">
            <%= submit_tag "Sign in", class: "button" %>
          </div>
        </div>
        <% end %>
        <%= form_tag('/sessions', method: 'post') do %>
          <%= hidden_field_tag(:email, 'demo@student.com') %>
          <%= hidden_field_tag(:password, 'password1') %>
          <%= submit_tag "Student Demo", class: "button radius success expand" %>
        <% end %>
        <%= form_tag('/sessions', method: 'post') do %>
          <%= hidden_field_tag(:email, 'demo@teacher.com') %>
          <%= hidden_field_tag(:password, 'password1') %>
          <%= hidden_field_tag(:teacher, 1) %>
          <%= submit_tag "Teacher Demo", class: "button radius success expand" %>
        <% end %>
      </div>
    </div>


